*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#color-display{
    padding: 4rem;
    background: #fff;
    /* box-shadow:0 40px 130px 10px rgba(0,0,0, 0.5);  */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:100px auto;
    border-radius: .5rem;
    width: 50%;
}
h1{
  
    font-weight: 900;
}
#color-button{
    margin-top: 2rem;
    padding: .5rem 2rem;
    border: none;
    font-size: 2rem;
    background-color: turquoise;
    color: #fff;
    box-shadow:5px 5px rgba(0,0,0, 0.5); 
    cursor: pointer;
    font-weight: 900;

}
#color-button:hover{
    background: 5px 5px rgba(0,0,0, 0.5); 
    box-shadow:5px 5px  turquoise;
    transition: all;
}