*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
main nav{
    width: 20%;
    position:relative;
}
main nav ul{
    display: flex;
    flex-direction: column;
    gap: 1rem  ;
}
main nav ul li{
    background: lightcyan;

}
a{
    text-decoration: none;
    padding: 2rem .5rem;
    display: block;
}
nav a.active {
    background-color: lightseagreen;
    color: white;
}
article{
    width: 80%;
}
section>*{
    margin-bottom: 50px;
}